* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header-container {
    background-color: #111720;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}

.header {
    color: #fac650;
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
}

.main-container {
    background-color: #222831;
    flex: 1;
}

.message-container {
    margin-top: 40px;
    margin-bottom: 40px;
}

.round-result,
.round-result-message {
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
.round-result {
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 10px;
}
