* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-container {
    background-color: #111720;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}

.header {
    color: #fac650;
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
}

.main-container {
    background-color: #222831;
}